<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.serpensortia">

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GroupActivity"></activity>
        <activity android:name=".ScanQrActivity" />
        <activity android:name=".FeedingActivity" />
        <activity
            android:name=".AddActionActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ShowReptileActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AddAnimalActivity" />
        <activity
            android:name=".AnimalMainActivity"
            android:label="@string/app_name" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CaptureAct"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="serpensortiaDB.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="8" />

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="com.example.serpensortia"
            android:enabled="true"
            android:exported="false" />
    </application>

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-permission android:name="android.permission.CAMERA" />

</manifest>